{{ $itemsJS := resources.Get "tnd-search/vendors/itemsjs.js" }}
{{ range resources.Match "**/*.js" }}
  {{ warnf "%#v" .Name }}
{{ end }}
{{ $data := partialCached "tnd-search/private/GetIndex" "GetIndex" | jsonify }}
{{ $dataJS := printf "let tnd_search_data = JSON.parse(`%s`);" $data | resources.FromString "tnd-search/index.js"}}
{{ with $itemsJS }}
  <script src="{{ .RelPermalink }}"></script>
{{ else }}
{{ partial "tnd-search/warn" "not found" }}
{{ end }}
{{ with $dataJS }}
  <script src="{{ .RelPermalink }}"></script>
  {{ with resources.Get "tnd-search/search.js" }}
  <script defer src="{{ .RelPermalink }}"></script>
  {{ end }}
{{ end }}