{{/*
  Returns the a map with a key/value found page's .Params. Selected parameters set from module's config or all found.

  @author @regisphilibert

  @context Page (.)

  @return Map

  @use
   - tnd-search/private/GetConfig

  @access private

  @example - Go Template
    {{ with partialCached "tnd-search/private/GetEntryParams" $ .Params }}
      [...]
    {{ end }}
*/}}
{{ $config := partialCached "tnd-search/private/GetConfig" "GetConfig" }}

{{ $s := newScratch }}
{{ $s.Set "params" dict }}
{{ with $config.params }}
  {{ range $key := . }}
    {{ with index $.Params $key }}
      {{ $s.SetInMap "params" $key . }}
    {{ end }}
  {{ end }}
{{ else }}
  {{ $exclude := slice "iscjklanguage" "menus" "outputs" "aliases" "_build" "url" }}
  {{ range $key, $v := $.Params }}
    {{ if not (in $exclude $key) }}
      {{ $s.SetInMap "params" $key . }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $s.Get "params" }}