{{/*
	GetEntry
	Return the data for one entry and apply user's customized data/entry on top it.

	@author @regisphilibert

	@context Page (.)

	@return Map of the page's transformed data
		String (.title)
		Date (.created)
		Date (.updated)
		String (.type)
		Bool (.draft)
		String (.permalink)
		String (.relpermalink)
		String (.objectID|.id)
		...Params
		...data/entry

	@use 
		- tnd-search/private/GetConfig
		- tnd-search/private/GetUniqueID
		- tnd-search/private/GetEntryParams
		- tnd-search/data/entry

	@access private

*/}}
{{ $s := newScratch }}
{{ $config := partialCached "tnd-search/private/GetConfig" "GetConfig" }}
{{ with .Title }}
	{{ $s.SetInMap "item" "title" . }}	
{{ end }}
{{ with .Date }}
	{{ $s.SetInMap "item" "created" . }}
{{ end }}
{{ with .Params.lastMod }}
{{ $s.SetInMap "item" "updated" . }}
{{ end }}

{{ $s.SetInMap "item" "type" .Type }}
{{ $s.SetInMap "item" "draft" (default false .Draft) }}
{{ $s.SetInMap "item" "permalink" .Permalink }}
{{ $s.SetInMap "item" "relpermalink" .RelPermalink }}

{{ $uniqueID := partial "tnd-search/private/GetUniqueID" $ }}
{{ $uniqueIDKey := "id" }}
{{ with $config.algolia }}
	{{ $uniqueIDKey = "objectID" }}
{{ end }}

{{ $s.SetInMap "item" $uniqueIDKey $uniqueID }}

{{ with partialCached "tnd-search/private/GetEntryParams" $ .Params }}
  {{ range $key, $value := . }}
    {{ $s.SetInMap "item" $key $value  }}
  {{ end }}
{{ end }}
{{ with partial "tnd-search/data/entry" $ }}
  {{ range $key, $value := . }}
		{{ $s.SetInMap "item" $key $value  }}
	{{ end }}
{{ end }}

{{ return $s.Get "item" }}